
.form_position {
    text-align: center;
}

.button_valider {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
    font-size: 100%;
}

.simple_text {
    color:#1ad1ff;
    font-size: 125%;
}

.error_text {
    color: #FF0000;
    font-size: 125%;
}


.input_field {
    height: 150;
}

.input_field {
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 10%
}

